/* SPDX-License-Identifier: Apache-2.0
   Copyright 2025 Evan SERAY */

body {
    margin: 0;
    padding: 2em;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgb(10, 10, 12);
    color: white;
    height: 100%;
    font-family: monospace;
}

.tree_node {
    display: inline-block;
    margin: 1px;
    padding: 1px;
    border-radius: 3px;
    border: none;
    border-left: 1px solid rgba(96, 96, 98, 0.632);
    vertical-align: top;
    line-height: calc(1em + 2px);
    /*background: linear-gradient(to right, rgba(62, 62, 122, 0.632), transparent 50% );*/
}