/* SPDX-License-Identifier: Apache-2.0
   Copyright 2025 Evan SERAY */

.literal_numerical {
    color: #a6a6ff;
}
.literal_keyword {
    color: #7f56d6;
}
.literal_string {
    color: #5ecacd;
}
.literal_unit {
    color: #4646be;
    font-style: italic;
}
.identifier {
    color: #fbd348;
}
.operator {
    color: #ffffff;
}
.structural {
    color: #fff;
}
.invalid_character {
    color: #ff0000;
    font: bold;
}