/* SPDX-License-Identifier: Apache-2.0
   Copyright 2025 Evan SERAY */
   
.input {
    color: white;
    border: none;
    background-color: rgb(23, 22, 27);
    border-radius: 10px;
    padding: 4px;
    min-height: 20px;
    outline: none;
    white-space: pre-wrap;
}

.output {
    color: white;
    border: none;
    background-color: rgb(17, 17, 20);
    border-radius: 10px;
    padding: 4px;
    min-height: 20px;
    outline: none;
    white-space: pre-wrap;
}