/* SPDX-License-Identifier: Apache-2.0
   Copyright 2025 Evan SERAY */

.input_section {
    margin-left: 10vw;
    margin-right: 10vw;
}

.input_area {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: left;
    font-size: 1.3em;
    background-color: rgb(23, 22, 27);
    border-radius: 10px;
}

.input {
    color: white;
    border: none;
    padding: 4px;
    min-height: 20px;
    outline: none;
    white-space: pre-wrap;
    width: 100%;
}

.output {
    color: white;
    white-space: pre-wrap;
}

.line_number {
    color: rgb(113, 113, 113);
    background-color: rgb(23, 22, 27);
    border-right: 0.1em solid rgb(113, 113, 113);
    min-width: 3em;
    margin-right: 0.5em;
    padding: 4px;
    padding-right: 0.5em;
    text-align: right;
    outline: none;
    white-space: pre-wrap;
}