/* SPDX-License-Identifier: Apache-2.0
   Copyright 2025 Evan SERAY */
   
.output_overlay {
    border: 1px solid #2d601f;
    background-color: #18331d;
    border-radius: 5px;
    padding: 1px;
    padding-bottom: 0;
    padding-top: 0;
    margin: -1px;
    margin-left: 0;
    margin-right: 0;
}

.ghost_overlay {
    display: inline-block;
    height: 1lh;
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: bottom;
}

.output_overlay_exceeded {
    border-color: #6b7f5f;
    background-color: #31352f;
    color: #e4e4e4;
}