
.output_overlay {
    border: 1px solid rgb(70, 82, 98);
    background-color: rgb(33, 24, 51);
    border-radius: 5px;
    padding: 1px;
    padding-bottom: 0;
    padding-top: 0;
    margin: -2px;
    margin-left: 0;
    margin-right: 0;
}

.ghost_overlay {
    display: inline-block;
    height: 1lh;
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: bottom;
}